{% extends 'base.html' %}
{% load cmapp_filter %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {%for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}

    <!-- 질문 -->
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">{{ question.content|mark }}</div>
            {% if question.imgs %}
            <img class="card-img-bottom" src="{{ question.imgs.url }}" alt="Card image cap">
            {% endif %}
            <div class="d-flex justify-content-end">
                {% if question.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정 일시</div>
                    <div>{{ question.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ question.author.username }}</div>
                    <div class="mb-2">{{ question.create_date }}</div>
                    <div>{{ question.views }}명이 이 글을 보았습니다.</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 질문 추천/수정/삭제 -->
    <div class="my-3">
        <a href="javascript:void(0)" data-uri="{% url 'cmapp:question_vote' question.id %}" class="recommend btn btn0sm btn-outline-secondary">추천
            <span class="badge rounded-pill bg-success">{{ question.voter.count }}</span>
        </a>
        {% if request.user == question.author %}
        <a href="{% url 'cmapp:question_modify' question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'cmapp:question_delete' question.id %}">삭제</a>
        {% endif %}
    </div>

    <!-- 댓글 -->
    <h5 class="border-bottom my-3 py-2">{{ question.comment_set.count }}개의 댓글이 있습니다.</h5>
    {% for comment_id, comment_data in comment_tree.items %}
    {% if comment_id in comment_id_list %}
        {% include 'cmapp/comment.html' with comment_tree=comment_tree comment_data=comment_data comment=comment_data.c question_id=question.id flag=0 %}
    {% endif %}
    {% endfor %}

    <!-- 댓글 등록 -->
    <form action="{% url 'cmapp:comment_create' question.id 0 %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.prefix == 'comment' %}
        {% include "form_errors.html" %}
        {% endif %}

        <div class="mb-3">
            <label for="comment-content" class="form-label">댓글내용</label>
            <textarea 
            {% if not user.is_authenticated %} disabled {% endif %}
            name="comment-content" id="comment-content" class="form-control" rows="5"></textarea>
        </div>
        <input type="submit" value="댓글등록" class="btn btn-primary">
    </form>

    <!-- 답변 -->
    <h5 class="border-bottom my-3 py-2">{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set.all %}
    <a id="answer_{{ answer.id }}"></a>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">{{ answer.content|mark }}</div>
            <div class="d-flex justify-content-end">
                {% if answer.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정 일시</div>
                    <div>{{ answer.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ answer.author.username }}</div>
                    <div>{{ answer.create_date }}</div>
                </div>
            </div>

            <!-- 답변 추천/수정/삭제 -->
            <div class="my-3">
                <a href="javascript:void(0)" data-uri="{% url 'cmapp:answer_vote' answer.id  %}"
               class="recommend btn btn-sm btn-outline-secondary">추천
                    <span class="badge rounded-pill bg-success">{{answer.voter.count}}</span>
                </a>
                {% if request.user == answer.author %}
                <a href="{% url 'cmapp:answer_modify' answer.id  %}" 
                class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary "
               data-uri="{% url 'cmapp:answer_delete' answer.id  %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- 답변 등록 -->
    <form action="{% url 'cmapp:answer_create' question.id %}" method="post" class="my-3">
    {% csrf_token %}

    <!-- prefix로 form 구분, 아래 폼 필드 name과 id, for 등을 다 (prefix)-(기존), ex. answer-content 식으로 바꿔줘야 에러 안 남!!! -->
    {% if form.prefix == 'answer' %} 
    {% include "form_errors.html" %}
    {% endif %}
    
    <div class="mb-3">
        <label for="answer-content" class="form-label">답변내용</label>
        <textarea 
        {% if not user.is_authenticated %} disabled {% endif %}
        name="answer-content" id="answer-content" class="form-control" rows="15"></textarea>
    </div>
    <input type="submit" value="답변등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});


const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

// 댓글 달기 버튼 -> 댓글 등록 부분 보여주기
function show_comment_create(question_detail_url, form_url, question_id, comment_id) {
    // 기존에 열려 있는 모든 폼을 닫기
    var openForms = document.querySelectorAll('form[id^="comment_create_"]');
    openForms.forEach(function(form) {
        form.remove();
    });

    // 폼 HTML을 문자열로 작성
    var formHtml = `
        <form action="${form_url}" method="post" class="my-3" id="comment_create_${comment_id}">
            {% csrf_token %}
            {% if form.prefix == 'comment'%}
            {% include "form_errors.html" %}
            {% endif %}
            <div class="mb-3">
                <label for="comment-content" class="form-label">댓글내용</label>
                <textarea 
                {% if not user.is_authenticated %} disabled {% endif %}
                name="comment-content" id="comment-content" class="form-control" rows="5"></textarea>
            </div>
            <input type="submit" value="댓글등록" class="btn btn-primary">
        </form>
    `;

    // 새로운 div 요소를 생성하고 HTML을 삽입
    var formContainer = document.createElement('div');
    formContainer.innerHTML = formHtml;

    // 버튼 아래에 폼 추가
    var button = document.getElementById('comment_create_btn_' + comment_id);
    node = button.parentNode.insertBefore(formContainer.firstChild, button.nextSibling);
    console.log(button.parentNode.insertBefore(formContainer.firstChild, button.nextSibling));
}

</script>
{% endblock %}