{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- title -->
    <title>회원가입</title>

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"> {% endcomment %}

    <link rel="stylesheet" href="{% static '/css/common.css' %}">
    <link rel="stylesheet" href="{% static '/css/Login/signup.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- head js -->
    <script src="{%static '/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static '/js/signup.js' %}"></script>
</head>
<body>

<div class="signup">
    <form class="signup-container" action="{% url 'common:signup' %}" method="post">
        {% csrf_token %}
        {% include "form_errors.html" %}

        <div class="logo-img">
            코딩 마스터
        </div>
        <div class="signup-top">회원가입</div>

        <div class="signupNickname">
            <div><label for="username">닉네임</label></div>
            <input type="text" class="signup-nickname" name="username" id="s_username" value="{{ form.username.value|default_if_none:'' }}"
            {% if valid == 2 %}
            style="border: 2px solid green;"
            {% else %}
            style="border: 1px solid gray;"
            {% endif %}
            >
            <div class="NicknameExistenceChecker" id="username_check_btn" data-valid="{{ valid }}">중복확인</div>
            {% if valid == 1 %}
            <div class="NicknameExistenceAlert">
                <i class="fa-solid fa-xmark"></i>이미 존재하는 닉네임입니다.
            </div>
            {% endif %}
            {% if valid == 3 %}
            <div class="NicknameCheckerAlert">
                <i class="fa-solid fa-xmark"></i>닉네임 중복 확인해주세요.
            </div>
            {% endif %}
        </div>

        <div class="signupPassword">
            <div><label for="password1">비밀번호</label></div>
            <input type="password" class="signup-password" name="password1" id="password1" value="{{ form.password1.value|default_if_none:'' }}" 
            {% if pw_valid == "2" %}
            style="border: 2px solid green;"
            {% else %}
            style="border: 1px solid gray;"
            {% endif %}>
            <ul class="PasswordValidator">
                <li class="condition1">
                    <i class="fa-solid fa-check"></i>영문/숫자/특수문자 각각 한 개 이상 포함
                </li>
                <li class="condition2">
                    <i class="fa-solid fa-check"></i>8자 이상 30자 이하 입력 (공백 제외)
                </li>
                <li class="condition3">
                    <i class="fa-solid fa-check"></i>연속 3자 이상 동일한 문자/숫자 제외
                </li>
            </ul>
        </div>

        <div class="signupPasswordCheck">
            <div><label for="password2">비밀번호 확인</label></div>
            <input type="password" class="signup-password-check" name="password2" id="password2"
            value="{{ form.password2.value|default_if_none:'' }}"
            {% if pw_valid == "2" %}
            style="border: 2px solid green;"
            {% else %}
            style="border: 1px solid gray;"
            {% endif %}>
            <div class="PasswordCheckValidator" style="display: none;">
                <i class="fa-solid fa-xmark"></i>비밀번호가 일치하지 않습니다.
            </div>
        </div>

        <div class="signupEmail">
            <div><label for="email">이메일</label></div>
            <input tyle="text" class="signup-email" name="email" id="email"
            value="{{ form.email.value|default_if_none:'' }}">
            {% if email_valid == 1 %}
            <div class="EmailExistenceAlert">
                <i class="fa-solid fa-xmark"></i>이미 가입된 이메일입니다.
            </div>
            {% endif %}
            <div class="EmailValidator" style="display: none;">
                <i class="fa-solid fa-xmark"></i>유효하지 않은 이메일입니다.
            </div>
        </div>
        
        <input type="hidden" id="pw_valid" name="pw_valid" value="{{ pw_valid }}">

        <button type="submit" class="signupBtn">가입하기</button>
    </form>
</div>

<form id="usernameCheckForm" method="get" action="{% url 'common:signup' %}">
    <input type="hidden" id="name" name="name" value="{{ name|default_if_none:'' }}">
</form>
</body>
</html>