{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header_noActive.css">
    <link rel="stylesheet" href="/static/css/Login/login.css">
    <link rel="stylesheet" href="/static/css/Profile/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
</head>

<body>
    <!-- 헤더 -->
    <header>
        <!-- 로고 이미지 -->
        <div class="logo-img">
            <a href="{% url 'home' %}"><img src="/static/img/logo.png" style="width: 100%; height: 100%;"></a>
        </div>
        <!-- nav -->
        <nav>
            <ul class="header-menutop">
                <li class="question">
                    <a href="{% url 'cmapp:question_list' 0 %}">질문</a>
                </li>
                <li class="information">
                    <a href="/html/Information/list.html">정보</a>
                </li>
                <li class="counseling">
                    <a href="/">상담</a>
                </li>
                <li class="study">
                    <a href="/">스터디</a>
                </li>
                <li class="contest">
                    <a href="/">공모전/대회</a>
                </li>
            </ul>
        </nav>
        <!-- 로그아웃 버튼 -->
        <div class="logout-btn">
            <a href="{% url 'common:logout' %} ">로그아웃</a>
        </div>
    </header>

    <div class="profile-container">
        <div class="profileMeta">
            <!-- 프로필 이미지 -->
            <img src="/static/img/profileImg.png" class="profile-img">
            <!-- 이름 -->
            <div class="userName">{{ user.username }}</div>
            <div class="level">
                <!-- 레벨이름 -->
                <div class="top">
                    <div class="levelName">노비</div>
                    <div style="display: flex; gap:20px; color:rgb(91, 90, 90);">
                        <div class="Lv">Lv<span>1</span></div>
                        <div class="Exp">Exp<span>200</span></div>
                    </div>
                </div>
                <!-- 레벨 진행도 -->
                <div class="levelStick">
                    <div class="levelProcess"></div>
                </div>
            </div>
            <div class="Btn">
                <div class="allViewBtn"><img src="/static/img/gat.png">전체</div>
                <div class="postViewBtn"><img src="/static/img/gat.png">게시글 <span>[{{ sorted_post_list.count }}]</span></div>
                <div class="commentViewBtn"><img src="/static/img/gat.png">댓글단 글 <span>[{{ sorted_ca_list.count }}]</span></div>
                <div class="likeBtn"><img src="/static/img/gat.png">좋아요한 글 <span>[{{ sorted_voted_list.count }}]</span></div>
                <div class="scrapBtn"><img src="/static/img/gat.png">스크랩 <span>[10]</span></div>
            </div>
        </div>
        <div class="profileContent">
            <div class="introView">
                <span>소개</span>
                <div class="intro-text">
                    <div class="self-intro-empty" style="display: none;">소개글을 작성해주세요.</div>
                    <div class="other-intro-empty" style="display: none;">소개글이 비어있습니다.</div>
                    <div class="self-intro-filled">안녕하세요. 컴퓨터공학과 23학번입니다. 지금 졸립니다.<br />안녕하세요. 컴퓨터공학과 23학번입니다. 지금 졸립니다.
                    </div>
                </div>
            </div>
            <div class="postView">
                <span>게시글</span>
                <div class="post-list">
                    {% for sorted_post in sorted_post_list %}
                    <div class="post" id="post-1">
                        <div class="meta">
                            <div class="category">
                                {% if sorted_post.get_model_name == "Question" %}
                                질문
                                {% elif sorted_post.get_model_name == "Information" %}
                                정보
                                {% endif %}
                            </div>
                            <div class="date">{{ sorted_post.create_date }}</div>
                        </div>
                        <div class="title">{{ sorted_post.subject }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="view-all">전체 보기<i class="fa-solid fa-arrow-right"></i></div>
            </div>
            <div class="commentView">
                <span>댓글단 글</span>
                <div class="comment-list">
                    {% for sorted_ca in sorted_ca_list %}
                    <div class="comment" id="comment-1">
                        <div class="meta">
                            <div class="category">
                                {% if sorted_ca.get_model_name == "Comment" %}
                                댓글
                                {% elif sorted_ca.get_model_name == "Answer" %}
                                답변
                                {% endif %}
                            </div>
                            <div class="date">{{ sorted_ca.create_date }}</div>
                        </div>
                        <div class="title">
                            {% if sorted_ca.question != null %}
                                질문 - {{ sorted_ca.question.subject }}
                            {% else %}
                                정보 - {{ sorted_ca.information.subject }}
                            {% endif %}
                            </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="view-all">전체 보기<i class="fa-solid fa-arrow-right"></i></div>
            </div>
            <div class="likeView">
                <span>좋아요한 글</span>
                <div class="like-list">
                    {% for sorted_voted in sorted_voted_list %}
                    <div class="like" id="like-1">
                        <div class="meta">
                            <div class="category">
                                {% if sorted_voted.get_model_name == "Question" %}
                                질문
                                {% elif sorted_voted.get_model_name == "Information" %}
                                정보
                                {% endif %}
                            </div>
                            <div class="date">{{ sorted_voted.create_date }}</div>
                        </div>
                        <div class="title">{{ sorted_voted.subject }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="view-all">전체 보기<i class="fa-solid fa-arrow-right"></i></div>
            </div>

            <div class="scrapView">
                <span>스크랩</span>
                <div class="scrap-list">
                    <div class="scrap" id="scrap-1">
                        <div class="meta">
                            <div class="category">질문</div>
                            <div class="date">24.05.31</div>
                        </div>
                        <div class="title">안녕</div>
                    </div>
                    <div class="scrap" id="scrap-2">
                        <div class="meta">
                            <div class="category">질문</div>
                            <div class="date">24.05.31</div>
                        </div>
                        <div class="title">안녕</div>
                    </div>
                </div>
                <div class="view-all">전체 보기<i class="fa-solid fa-arrow-right"></i></div>
            </div>
        </div>

        <script src="/static/js/profileEvents.js"></script>
</body>

</html>