{% extends 'html/base.html' %}
{% load cmapp_filter %}
{% load static %}

{% block title %}<title>답변 작성</title>{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static '/css/Question/answer.css' %}">{% endblock %}

{% block content %}
<!-- top 배경이미지 -->
<div class="top-background">
    <h1 class="top-background-text">질문</h1>
</div>

<main class="question-write">
    <div class="answer-left">
        <div class="questionView">
            <!-- 질문 제목 영역 -->
            <div class="question-view-top">
                <!-- 해당 언어 -->
                <div class="questionLanguage">
                    <p>[{{ question.planguage }}]</p>
                </div>
                <!-- 질문 제목 -->
                <div class="questionSubject">
                    <p>{{ question.subject }}</p>
                </div>
            </div>
            <!-- 질문 내용 -->
            <div class="question-view-content">
                {% if question.imgs %}
                    <img id="question-img-1" src="{{ question.imgs.url }}"> <!-- ## 이미지 나중에 배열로 바뀔 거라, 여기 for문으로 바뀌고, id 뒤에 몇번째 이미지인지 번호가 붙을 거임 -->
                {% endif %}
                <br />
                {{ question.content|mark }}
            </div>
        </div>
    </div>
    <div class="answer-right">
        <div class="write-top">
            <span>답변</span>작성
        </div>
        <form class="writeForm" id="question-write-container" action="{% url 'cmapp:answer_create' question.id %}" method="post">
        {% csrf_token %}

        <!-- prefix로 form 구분, 아래 폼 필드 name과 id, for 등을 다 (prefix)-(기존), ex. answer-content 식으로 바꿔줘야 에러 안 남!!! -->
        {% if form.prefix == 'answer' %} 
        {% include "form_errors.html" %}
        {% endif %}

            <div class="writeForm-content">
                <textarea {% if not user.is_authenticated %} disabled {% endif %} name="answer-content" id="question-content-input" class="writeContent-input" placeholder="내용을 입력하세요"></textarea>
            </div>
            <div class="write-bottom">
                <div id="question-write-img" class="imgBtn">
                    <i class="fa-solid fa-image"></i>
                    <label for="imgs">이미지 첨부</label>
                    <input type="file" name="imgs" id="imgs">
                </div>
                <input type="submit" value="등록" id="question-write-submit" class="writeBtn">
            </div>
        </form>
    </div>
</main>
{% endblock %}