{% extends 'html/base.html' %}
{% load cmapp_filter %}
{% load static %}

{% block title %}<title>질문 보기</title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/Question/view.css' %}">{% endblock %}

{% block head_script %}
<script src="{% static '/js/buttonEvents.js' %}"></script>
{% endblock %}

{% block content %}

<!-- top 배경이미지 -->
<div class="top-background">
    <h1 class="top-category">질문</h1>
</div>

<!-- error message 표시(자기 추천 x 등의 에러 메시지) -->
{% if messages %}
<div class="alert alert-danger my-3" role="alert">
    {%for message in messages %}
    <strong>{{ message.tags }}</strong>
    <ul>
        <li>{{ message.message }}</li>
    </ul>
    {% endfor %}
</div>
{% endif %}

<!-- 질문 영역 (질문 + 댓글 + 답변) -->
<div class="View">
    <!-- 질문과 답변 관리 -->
    <div class="Question">
        <!-- 질문만 -->
        <div class="question-container">
            <!-- 질문 제목 영역 -->
            <div class="title">
                <!-- 해당 언어 -->
                <div class="Language">
                    <p>[{{ question.planguage }}]</p>
                </div>
                <!-- 질문 제목 -->
                <div class="Subject">
                    <p>{{ question.subject }}</p>
                </div>
            </div>
            <!-- 질문 수정/삭제 -->
            <div class="postEditor">
                {% if request.user == question.author %}
                <a href="{% url 'cmapp:question_modify' question.id %}" class="modifyBtn" id="question-modify-btn">수정</a>
                <a href="javascript:void(0)" class="deleteBtn" id="question-delete-btn" data-uri="{% url 'cmapp:question_delete' question.id %}">삭제</a>
                {% endif %}
            </div>
            <!-- 질문 정보 (작성자, 날짜, 조회수) -->
            <div class="meta">
                <img src="/static/img/profileImg.png" class="profile-img">
                <div class="postDetails">
                    <div class="Writer">{{ question.author.username }}</div>
                    <div>
                        <div class="Date">{{ question.create_date }}</div>
                        <div class="Count">조회수 <span>{{ question.views }}</span></div>
                    </div>
                </div>
            </div>
            <!-- 질문 내용 -->
            <div class="content">
                {% if question.imgs %}
                <img id="question-img-1" src="{{ question.imgs.url }}">
                <!-- ## 이미지 나중에 배열로 바뀔 거라, 여기 for문으로 바뀌고, id 뒤에 몇번째 이미지인지 번호가 붙을 거임 -->
                {% endif %}
                <!-- <br /> -->
                {{ question.content|mark }}
            </div>

            <!-- 답변 쓰기 버튼 -->
            <!-- 버튼 누르면 답변 쓰는 컨테이너 생성 -->
            <div class="createBtn">
                <a href="{% url 'cmapp:answer_create' question.id %}"><i class="fa-solid fa-pen"></i>답변 쓰기</a>
            </div>

            <!-- 좋아요, 스크랩, 댓글 버튼 -->
            <div class="postInteractions">
                <!-- 좋아요 -->
                <div id="question-good-btn" class="likeBtn">
                    <a href="javascript:void(0)" data-uri="{% url 'cmapp:question_vote' question.id %}" class="recommend"
                    {% if user == question.author %}
                        data-impossible="1"
                    {% else %}
                        data-impossible="0"
                    {% endif %}>
                        <i style="color: rgb(183, 84, 79);"
                        {% if question in user.voter_question.all %}
                            class="fa-solid fa-heart"
                        {% else %}
                            class="fa-regular fa-heart"
                        {% endif %}></i>
                    </a>
                    좋아요 {{ question.voter.count }}
                </div>
                <!-- 스크랩 -->
                <!-- 스크랩 누르면 자신의 스크랩 목록에 해당 질문 페이지 추가됨 -->
                <div id="question-scrap-btn" class="scrapBtn">
                    <i class="fa-regular fa-star" style="color: rgb(232, 232, 20);"></i> 스크랩
                </div>
                <!-- 댓글 -->
                <div id="question-comment-btn" class="commentBtn">
                    <i class="fa-regular fa-comment" style="color: rgb(95, 93, 93)"></i> 댓글 {{question.comment_set.count }}
                </div>
            </div>
        </div>

        <!-- 질문 댓글 (댓글 버튼 눌러야 보임) -->
        <div class="commentBox" id="question-commentBox" style="display: none;">
            <span>댓글</span>
            <!-- 댓글 작성 영역 -->
            <form action="{% url 'cmapp:comment_create' question.id 0 0 %}" method="post" class="comment-input">
                {% csrf_token %}
                {% if form.prefix == 'comment'%}
                {% include "form_errors.html" %}
                {% endif %}
                <div id="question-comment-writer" class="commentWriter">{{ user.username }}</div>
                <textarea {% if not user.is_authenticated %} disabled {% endif %} name="comment-content"
                    id="comment-content" class="commentText" placeholder="댓글을 입력하세요." onkeyup="autoResize(this)"
                    onkeydown="autoResize(this)" rows="2"></textarea>
                <input type="submit" value="등록" class="commentCreateBtn">
            </form>
            <!-- 댓글 목록 -->
            <div class="comment-list">
                {% for comment_id, comment_data in comment_tree.items %}
                {% if comment_data.c.answer_id == None and comment_id in comment_id_list %}
                {% include 'html/comment.html' with comment_tree=comment_tree comment_data=comment_data comment=comment_data.c question_id=question.id answer_id=0 username=user.username %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- 답변 영역 -->
    <div class="Answer">
        <!-- ## 답변 개수 {{ question.answer_set.count }} <- 이게 변수 -->
        <div class="border-bottom my-3 py-2">답변 <span>{{ question.answer_set.count }}</span></div>
        <br />
        <!-- 답변 목록 -->
        {% for answer in question.answer_set.all %}
        <a id="answer_{{ answer.id }}"></a>
        <!-- 답변 & 답변 댓글 -->
        <div class="answer-container" id="question-answer-{{ answer.id }}">
            <!-- 답변 -->
            <div class="answerView">
                <!-- 답변 번호 -->
                <div class="answerCount" id="answer-{{ answer.id }}">답변 {{ forloop.counter }}</div>
                <!-- 답변 정보 (작성자, 날짜) -->
                <div class="meta" id="answer-{{ answer.id }}-meta">
                    <img src="/static/img/profileImg.png" class="profile-img">
                    <div class="postDetails">
                        <div class="Writer">{{ answer.author.username }}</div>
                        <div class="Date">{{ answer.create_date }}</div>
                    </div>
                </div>
                <!-- 답변 내용 -->
                <div class="content">{{ answer.content|mark }}</div>
                <!-- 좋아요, 댓글 버튼 -->
                <div class="postInteractions">
                    <!-- 좋아요 -->
                    <div id="answer-1-good-btn" class="likeBtn">
                        <a href="javascript:void(0)" data-uri="{% url 'cmapp:answer_vote' answer.id %}"
                            class="recommend">
                            <i class="fa-regular fa-heart" style="color: rgb(183, 84, 79);"></i></a>
                        좋아요 {{ answer.voter.count }}
                    </div>

                    <!-- 댓글 버튼 -->
                    <div id="comment_create_btn_{{ answer.id|add:10000 }}" class="commentBtn"
                        data-form-url="{% url 'cmapp:comment_create' question.id answer.id 0 %}"
                        data-comment-id="{{ answer.id|add:10000 }}" data-username="{{ user.username }}">
                        <i class="fa-regular fa-comment" style="color: rgb(95, 93, 93)"></i> 댓글 {{answer.comment_set.count }}
                    </div>
                </div>
            </div>

            <!-- 답변 댓글 (댓글 버튼 눌러야 보임) -->
            <!-- 현재로는 질문 댓글과 유사한 레이아웃을 갖음 -->
            <div class="commentBox" id="answer-1-commentBox" style="display: none;">
                <span id="comment_create_part_{{ answer.id|add:10000 }}">댓글</span>
                <!-- 댓글 작성 영역 -->
                <form action="{% url 'cmapp:comment_create' question.id answer.id 0 %}" method="post"
                    class="comment-input" id="comment_top_create_{{ answer.id|add:10000 }}">
                    {% csrf_token %}
                    {% if form.prefix == 'comment'%}
                    {% include "form_errors.html" %}
                    {% endif %}
                    <div id="answer-comment-writer" class="commentWriter">{{ user.username }}</div>
                    <input {% if not user.is_authenticated %} disabled {% endif %} name="comment-content"
                        id="comment-content-{{ answer.id|add:10000 }}" class="commentText" placeholder="댓글을 입력하세요.">
                    <input type="submit" value="등록" class="commentCreateBtn">
                </form>

                <!-- 현재 답변 댓글 목록 -->
                <div class="comment-list">
                    {% for comment_id, comment_data in comment_tree.items %}
                    {% if comment_data.c.answer_id == answer.id and comment_id in comment_id_list %}
                    {% include 'html/comment.html' with comment_tree=comment_tree comment_data=comment_data comment=comment_data.c question_id=question.id answer_id=answer.id username=user.username %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block script %}
<script type='text/javascript'>

    // 답변 쓰기 버튼
    document.addEventListener('DOMContentLoaded', function () {
        const createButton = document.querySelector('.createBtn');
        // 답변 쓰기 버튼 클릭하면 답변 쓸 수 있는 페이지로 이동
        // !! 일단은 아래와 같이 js를 이용해서 이동하게 했음
        if (createButton) {
            createButton.addEventListener('click', function () {
                const url = 'answer.html';
                window.location.href = url;
            });
        }
    });

    // 질문 삭제 버튼
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    // 질문 추천 버튼
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (this.dataset.impossible == "1") {
                alert('본인이 작성한 글은 추천할 수 없습니다');
            }
            else {
                location.href = this.dataset.uri;
            }
        });
    });

    // 댓글 등록 부분 보여주기
    function show_comment_create(form_url, comment_id, username) {
        var form = document.getElementById('comment_create_' + comment_id);
        if (form) { // 답글 쓰기 버튼 한 번 더 누르면 댓글 등록 부분 닫기
            form.remove();
        }
        else {
            // 기존에 열려 있는 모든 폼을 닫기
            var openForms = document.querySelectorAll('form[id^="comment_create_"]');
            openForms.forEach(function (form) {
                form.remove();
            });

            // 폼 HTML을 문자열로 작성
            var formHtml = `
            <form action="${form_url}" method="post" class="comment-input" id="comment_create_${comment_id}">
                {% csrf_token %}
                {% if form.prefix == 'comment'%}
                {% include "form_errors.html" %}
                {% endif %}
                <div id="answer-comment-writer" class="commentWriter">${username}</div>
                <textarea
                    {% if not user.is_authenticated %} disabled {% endif %} name="comment-content" id="comment-content-${comment_id}" class="commentText" placeholder="댓글을 입력하세요." onkeyup="autoResize(this)" onkeydown="autoResize(this)"
                    rows="2"></textarea>
                <input type="submit" value="등록" class="commentCreateBtn">
            </form>
            `;

            // 새로운 div 요소를 생성하고 HTML을 삽입
            var formContainer = document.createElement('div');
            formContainer.innerHTML = formHtml;

            var formElement = formContainer.querySelector('form');

            // part 영역(댓글과) 아래에 폼 추가
            var part = document.getElementById('comment-content-' + comment_id);
            node = part.parentNode.insertBefore(formElement, part.nextSibling);
        }
    }

    function autoResize(textarea) {
        textarea.style.height = '1px';
        textarea.style.height = (14 + textarea.scrollHeight) + 'px';
    }
</script>
{% endblock %}





