{% extends 'html/base.html' %}
{% load static %}

{% block title %}<title>질문 작성</title>{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static '/css/Question/write.css' %}">{% endblock %}

{% block content %}
<div class="top-background">
    <h1 class="top-background-text">질문</h1>
</div>

<main class="question-write">
    <div class="write-top">
        <span>질문</span>작성
    </div>
    <form class="writeForm" id="question-write-container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "form_errors.html" %}

        <div class="writeFrom-top">
            <div class="select-container">
                <select name="planguage" class="selectBox">
                    <option value="language" hidden>언어</option>
                    {% for planguage in planguage_list %}
                    <option value="{{ planguage.id }}" {% if selected_planguage_id == planguage.id %}selected{% endif %}>{{ planguage.content }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="text" id="question-subject-input" class="writeSubject-input" placeholder="제목을 입력하세요" name="subject" value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="writeForm-content">
            <textarea id="question-content-input" class="writeContent-input" placeholder="내용을 입력하세요" name="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div class="write-bottom">
            <div id="question-write-img" class="imgBtn">
                <input type="file" name="imgs" id="imgs">
            </div>
            <button type="submit" id="question-write-submit" class="writeBtn">등록</button>
        </div>
    </form>
</main>
{% endblock %}
