{% extends 'html/base.html' %}
{% load static %}

{% block title %}<title>질문 작성</title>{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static '/css/Question/write.css' %}">{% endblock %}

{% block content %}
<div class="top-background">
    <h1 class="top-background-text">질문</h1>
</div>

<main class="question-write">
    <div class="write-top">
        <span>질문</span>작성
    </div>
    <form class="writeForm" id="question-write-container" action="" method="post">
        <div class="writeFrom-top">
            <div class="select-container">
                <select name="write-language" class="selectBox">
                    <option value="language" hidden>언어</option>
                    <option value="c">C</option>
                    <option value="c++">C++</option>
                    <option value="c#">C#</option>
                    <option value="python">Python</option>
                    <option value="java">Java</option>
                    <option value="js">JavaScript</option>
                    <option value="html">Html</option>
                    <option value="css">Css</option>
                    <option value="others">Others</option>
                </select>
            </div>
            <input type="text" id="question-subject-input" class="writeSubject-input" placeholder="제목을 입력하세요">
        </div>
        <div class="writeForm-content">
            <textarea id="question-content-input" class="writeContent-input" placeholder="내용을 입력하세요"></textarea>
        </div>
        <div class="write-bottom">
            <div id="question-write-img" class="imgBtn">
                <i class="fa-solid fa-image"></i>이미지 첨부
            </div>
            <div id="question-write-submit" class="writeBtn">등록</div>
        </div>
    </form>
</main>
{% endblock %}