* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.writer-profile-img,
.questionWriter,
.answerWriter,
.likeBtn,
.scrapBtn,
.commentBtn,
.commentCreateBtn,
.commentReplyBtn,
.commentWriter,
.question-answer-create-btn {
    cursor: pointer;
}