.profile-container {
    margin-top: 100px;
    display: flex;
}

.profileMeta {
    position: fixed;
    top: 100px;
    width: 25%;
    padding: 30px;
    border-right: 1px solid black;
}

.profileContent {
    margin-left: 25%;
    width: 75%;
}

.profile-img {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

.userName {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

.level {
    padding: 30px 10px;
    border-bottom: 1px solid rgb(187, 185, 185);
    border-top: 1px solid rgb(187, 185, 185);
}

.top {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 15px;

    span {
        padding-left: 8px;
        color: black;
    }
}

.levelStick {
    width: 100%;
    height: 20px;
    border: 1px solid rgb(209, 24, 24);
    border-radius: 30px;
}

.levelProcess {
    width: 30%;
    height: 100%;
    border: 1px solid rgb(209, 24, 24);
    border-radius: 30px;
    background-color: rgb(209, 24, 24);
}

.Btn {
    margin-top: 20px;
    padding: 20px 50px;
    color: black;
    font-size: 20px;

    div {
        margin-bottom: 20px;
    }
}

.Btn img {
    margin-right: 10px;
    width: 25px;
    height: auto;
}

.allViewBtn:hover,
.postViewBtn:hover,
.commentViewBtn:hover,
.likeBtn:hover,
.scrapBtn:hover {
    color: rgb(209, 24, 24);

    img {
        filter: invert(18%) sepia(94%) saturate(2732%) hue-rotate(352deg) brightness(92%) contrast(95%);
    }
}

.profileContent>div {
    margin: 20px;
    padding: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;

    span {
        display: inline-block;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.intro-text {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.post,
.comment,
.like,
.scrap {
    padding: 10px;
    padding-top: 20px;
    border-bottom: 1px solid gray;
}

.post:last-child,
.comment:last-child,
.like:last-child,
.scrap:last-child {
    border-bottom: none;
}

.post:hover,
.comment:hover,
.like:hover,
.scrap:hover {
    border-bottom: 2px solid rgb(209, 24, 24);
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: rgb(60, 60, 60);
    margin-bottom: 4px;
}

.title {
    font-size: 20px;
    margin-bottom: 8px;
}

.view-all {
    text-align: center;
    font-size: 15px;
    padding: 10px;

    i {
        margin-left: 10px;
    }
}